{% extends 'web/base.html' %}

{% block content %}
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          The BOX
        </a></div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="/">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/orders/">
                <i class="material-icons">attach_money</i>
                <p>Заказы</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/ru/categories/">
                <i class="material-icons">layers</i>
                <p>Категории</p>
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="/ru/products/">
                <i class="material-icons">fastfood</i>
                <p>Товары</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/ru/news/">
                <i class="material-icons">local_fire_department</i>
                <p>Новости</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/ru/events/">
                <i class="material-icons">emoji_events</i>
                <p>Акции</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./typography.html">
                <i class="material-icons">storefront</i>
                <p>Филиалы</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./icons.html">
                <i class="material-icons">payment</i>
                <p>Платежные системы</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./icons.html">
                <i class="material-icons">message</i>
                <p>Сообщения</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="./icons.html">
                <i class="material-icons">ad_units</i>
                <p>Кнопки</p>
              </a>
            </li>
            
          </ul>
        </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <span id="language" style='visibility: hidden;'>{{instance.language.title}}</span>
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Редактирование Товара</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            
            <ul class="navbar-nav">
              
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Новости</h4>
                  <p class="card-category">Редактирование</p>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Название</label>
                          <input type="text" class="form-control" id="cat_title" value='{{ instance.title }}'>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Просмотры</label>
                          <input type="text" class="form-control" id="cat_views" value='{{ instance.views }}' readonly>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-check">
                          <label class="form-check-label">
                              {% if instance.active %}
                                <input class="form-check-input" id='cat_active' type="checkbox" value="True" checked>
                              {% else %}
                                <input class="form-check-input" id="cat_active" type="checkbox" value="False">
                              {% endif %}

                              Активность
                              <span class="form-check-sign">
                                  <span class="check"></span>
                              </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-check">
                          <label class="form-check-label">
                              {% if instance.visible %}
                                <input class="form-check-input" id='cat_visible' type="checkbox" value="True" checked>
                              {% else %}
                                <input class="form-check-input" id="cat_visible" type="checkbox" value="False">
                              {% endif %}

                              Видимость
                              <span class="form-check-sign">
                                  <span class="check"></span>
                              </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating"> Описание</label>
                            <textarea class="form-control" id="cat_description" rows="5">{{ instance.text }}</textarea>
                          </div>
                      </div>
                    </div>
                    

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                              <div class="fileinput-new thumbnail img-raised">
                                  <img class="col-md-12" id='cat_image' src="/{{ instance.photo.photo.url }}" rel="nofollow" alt="...">
                              </div>
                              <!-- <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div> -->
                              <div>
                                  <span class="btn btn-raised btn-round btn-default btn-file">
                                      <!-- <span class="fileinput-exists">Change</span> -->
                                      <input type="file" id="cat_image_file" name="..." id="cat_image_input"/>
                                      <span class="fileinput-new">Выбрать</span>
                                  </span>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <button onclick='EditNews({{ instance.id }})' class="btn btn-primary pull-right">Сохранить</button>
                    <button data-toggle="modal" data-target="#exampleModal"  class="btn btn-primary btn-link pull-right">Удалить</button>
                    <div class="clearfix"></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <footer class="footer">
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите безвозвратно удалить данную новость?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" onclick='DeleteNews({{ instance.id }})' class="btn btn-primary">Удалить</button>
      </div>
    </div>
  </div>
</div>
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endblock %}
  